html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding: 30px;
}
.container-satu {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.kolom-utama {
    flex: 3;
    padding: 0 20px;
    background: #f1f8ff;
    border-radius: 10px;
}

.sidebar-satu {
    flex: 1;
    background: #e0f7fa;
    padding: 10px;
    border-radius: 10px;
}

.sidebar-dua {
    flex: 1;
    background: #fce4ec;
    padding: 10px;
    border-radius: 10px;
}

h2, h3 {
    color: #333;
}

.img-artikel {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}